In [1]:
numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

In [2]:
numbers = [42, 51, 29, 2, 13, 44, 80, 66, 16]

In [3]:
numbers = [42, 51, 29, 2, 13, 44, 80, 66, 16]
for current_number in numbers:
    print(current_number)

42
51
29
2
13
44
80
66
16

In [11]:
numbers = [42, 51, 29, 2, 13, 44, 80, 66, 16]
for current_number in numbers:
   print(f"Number: {current_number}, Doubled: {current_number * 2}.")

Number: 42, Doubled: 84.
Number: 51, Doubled: 102.
Number: 29, Doubled: 58.
Number: 2, Doubled: 4.
Number: 13, Doubled: 26.
Number: 44, Doubled: 88.
Number: 80, Doubled: 160.
Number: 66, Doubled: 132.
Number: 16, Doubled: 32.

In [46]:
new_list = [num*2 for num in numbers]

In [47]:
print (new_list)

[84, 102, 58, 4, 26, 88, 160, 132, 32]

In [48]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 0, 3, 4, 6]

In [57]:
a = [1, 2, 3, 6]
b = [1, 7, 3, 6]

In [54]:
result=list(set(a) & set(b))

In [55]:
result

[1, 3, 6]

In [60]:
a = [1, 2, 3, 6]
b = [1, 7, 3, 6]

In [69]:
result = [x == y
for x, y in zip(a, b)]

In [70]:
print(result)

[True, False, True, True]

In [71]:
numbers = [64, 93, 60, 95, 66, 9, 15, 55, 77, 28, 74, 100, 13, 1, 85, 48, 66, 65, 59, 32]

In [74]:
sum_of_numbers = sum(numbers)

In [75]:
print("The sum of the numbers is:", sum_of_numbers)

The sum of the numbers is: 1105

In [76]:
numbers = [64, 93, 60, 95, 66, 9, 15, 55, 77, 28, 74, 100, 13, 1, 85, 48, 66, 65, 59, 32]

In [5]:
rounded_numbers_mean = round(numbers_mean, 2)

NameError: name 'numbers_mean' is not defined

In [81]:
my_str = "64, 93, 60, 95, 66, 9, 15, 55, 77, 28, 74, 100, 13, 1, 85, 48, 66, 65, 59, 32"
my_dict = {i: char for i, char in enumerate(my_str)}
my_dict

{0: '6',
 1: '4',
 2: ',',
 3: ' ',
 4: '9',
 5: '3',
 6: ',',
 7: ' ',
 8: '6',
 9: '0',
 10: ',',
 11: ' ',
 12: '9',
 13: '5',
 14: ',',
 15: ' ',
 16: '6',
 17: '6',
 18: ',',
 19: ' ',
 20: '9',
 21: ',',
 22: ' ',
 23: '1',
 24: '5',
 25: ',',
 26: ' ',
 27: '5',
 28: '5',
 29: ',',
 30: ' ',
 31: '7',
 32: '7',
 33: ',',
 34: ' ',
 35: '2',
 36: '8',
 37: ',',
 38: ' ',
 39: '7',
 40: '4',
 41: ',',
 42: ' ',
 43: '1',
 44: '0',
 45: '0',
 46: ',',
 47: ' ',
 48: '1',
 49: '3',
 50: ',',
 51: ' ',
 52: '1',
 53: ',',
 54: ' ',
 55: '8',
 56: '5',
 57: ',',
 58: ' ',
 59: '4',
 60: '8',
 61: ',',
 62: ' ',
 63: '6',
 64: '6',
 65: ',',
 66: ' ',
 67: '6',
 68: '5',
 69: ',',
 70: ' ',
 71: '5',
 72: '9',
 73: ',',
 74: ' ',
 75: '3',
 76: '2'}

In [ ]:
numbers_mean = (sum_of_numbers / 79)

In [87]:
numbers_mean

13.987341772151899

In [91]:
numbers_mean = 13.987341772151899

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1842005058.py, line 4)

In [96]:
print("Округлене число до 2 цифр після коми:", rounded_numbers_mean)

Округлене число до 2 цифр після коми: 13.99

In [13]:
prev_list = [1, 5, 8, 38, 87, 90, 101]
numbers_mean = 13.99

In [18]:
prev_list = [1, 5, 8, 38, 87, 90, 101]
numbers_mean = 13.99
new_list = []
for el in prev_list:
    if el >= numbers_mean:
        new_list.append(1)
    else:
        new_list.append(0)

In [19]:
print(new_list)

[0, 0, 0, 1, 1, 1, 1]

In [21]:
prev_list = [1, 5, 8, 38, 87, 90, 101]
numbers_mean = 13.99

In [22]:
new_list = [1 if el > numbers_mean else 0 for el in prev_list]

In [23]:
print(new_list)

[0, 0, 0, 1, 1, 1, 1]

In [25]:
a = [64, 93, 60, 95, 66, 9, 15, 55, 77, 28, 74, 100, 13, 1, 85, 48, 66, 65, 59, 32]
element = 33
if element in a:
    print("Так, є")
else:
    print("Ні, нема")

Ні, нема

In [30]:
a = [64, 93, 60, 95, 66, 9, 15, 55, 77, 28, 74, 100, 13, 1, 85, 48, 66, 65, 59, 32]
elements = [44, 66, 77, 100]
for element in elements:
    if element in a:
        print(f"{element}: Так, є елемент <вставити значення елемента>")
    else:
        print(f"{element}: Ні, нема елемента <вставити значення елемента>")

44: Ні, нема елемента <вставити значення елемента>
66: Так, є елемент <вставити значення елемента>
77: Так, є елемент <вставити значення елемента>
100: Так, є елемент <вставити значення елемента>

In [31]:
long = [75, 39, 95, 1, 91, 43, 97, 24, 86, 75, 92, 91, 15, 15, 75, 95, 54, 29, 55, 98]

In [32]:
n_repeats = {} 
for element in set(long):
    count = long.count(element)
    n_repeats[element] = count

In [33]:
print(n_repeats)

{1: 1, 97: 1, 98: 1, 39: 1, 75: 3, 43: 1, 15: 2, 55: 1, 86: 1, 54: 1, 24: 1, 91: 2, 92: 1, 29: 1, 95: 2}

In [47]:
long = [75, 39, 95, 1, 91, 43, 97, 24, 86, 75, 92, 91, 15, 15, 75, 95, 54, 29, 55, 98]
print(min(long)) # Не змогла вивести 3 мінімальні

1