In [3]:
import numpy as np

In [4]:
# завдання № 1 
data = [1,3,4]
sum_x = np.sum(data)

In [5]:
sum_x

8

In [6]:
# завдання № 2
sum_purchases = [ 316,  493,  367,  153,  224,  121,  322,  450,  196,  397,  281,
  239,  484,  124,  223,  448,  432,  255, 4310, 3524]

In [7]:
mean_sum_purchases = sum(sum_purchases)/len(sum_purchases)

In [8]:
mean_sum_purchases

667.95

In [9]:
np.mean(mean_sum_purchases)

667.95

In [10]:
# завдання № 3
sum_purchases = [ 316,  493,  367,  153,  224,  121,  322,  450,  196,  397,  281,
  239,  484,  124,  223,  448,  432,  255, 4310, 3524]

In [15]:
sorted(sum_purchases)

[121,
 124,
 153,
 196,
 223,
 224,
 239,
 255,
 281,
 316,
 322,
 367,
 397,
 432,
 448,
 450,
 484,
 493,
 3524,
 4310]

In [16]:
len(sum_purchases)//2 - 1, len(sum_purchases)//2

(9, 10)

In [17]:
sorted(sum_purchases)[len(sum_purchases)//2 - 1] + sorted(sum_purchases)[len(sum_purchases)//2]/2

477.0

In [18]:
np.median(sum_purchases)

319.0

In [19]:
# завдання № 4
sum_purchases_minus_mean=[(el -mean_sum_purchases)**2 for el in sum_purchases]
std_sum_purchases_general = np.sqrt(sum(sum_purchases_minus_mean)/len(sum_purchases))
std_sum_purchases_sample = np.sqrt(sum(sum_purchases_minus_mean)/(len(sum_purchases)-1))

In [20]:
std_sum_purchases_general, std_sum_purchases_sample

(1096.0692713054227, 1124.5433447451132)

In [21]:
np.std(sum_purchases), np.std(sum_purchases, ddof=1)

(1096.0692713054227, 1124.5433447451132)

In [25]:
# завдання № 5 
age_counts = {
    16: 10,
    17: 25,
    18: 20,
    20: 2
}

In [34]:
# завдання № 6
sum_purchases = [ 316,  493,  367,  153,  224,  121,  322,  450,  196,  397,  281,
  239,  484,  124,  223,  448,  432,  255, 4310, 3524]

In [35]:
visits = [ 6,  2, 10,  3,  9,  9,  2,  3,  6,  6, 10,  2,  5, 10,  3,  5,  4,
        7,  4,  2]

In [39]:
mean_sum_purchases = sum(sum_purchases) / len(sum_purchases)
mean_visits = sum(visits) / len(visits)

In [40]:
mean_sum_purchases, mean_visits

(667.95, 5.4)

In [42]:
sum_purchases_visits = [(sum_purchases[i] - mean_sum_purchases)*(visits[i] - mean_visits) for i in range(len(sum_purchases))]

In [43]:
cov_sum_purchases_visits = sum(sum_purchases_visits)/(len(sum_purchases)-1)

In [44]:
cov_sum_purchases_visits

-990.1368421052633

In [45]:
np.cov(sum_purchases,visits)

array([[ 1.26459773e+06, -9.90136842e+02],
       [-9.90136842e+02,  8.46315789e+00]])

In [18]:
# Домашнє завдання 6: Статистичні тести, завдання не змогла вирішити 
import pandas as pd
import numpy as np
from scipy import stats

In [19]:
data = pd.read_csv('/Users/applebuy/Documents/data/supermarket_sales.csv')

In [20]:
data.shape

(1000, 17)

In [16]:
print(data.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [17]:
historical_mean = 20